* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weather {
    background: url(./image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.weather-top {
    display: flex;
    justify-content: space-between;
    padding: 100px 75px 0;
    height: 70vh;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.temperature-list {
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
    background-color: rgba(46, 54, 74, 0.8);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.temperature-list>* {
    margin: 12px 0 0 12px;
}

.day {
    background-color: rgba(46, 54, 74, 0.8);
    padding: 0.625rem 0.9375rem;
    text-align: center;
    height: auto;
    border-radius: 16px;
}

.temp, .icon {
    text-align: center;
}

.icon {
    font-size: 50px;
    margin: 0px 0px 10px;
}

/*style form with input and button*/
.weather-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.125rem;
}

.weather-form input {
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    margin-right: 10px;
}

.weather-form input:focus {
    outline: none;
}

.weather-form button {
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    background-color: #EC6E4C;
    color: white;
    outline: none;
    cursor: pointer;
}

.weather-form button:hover {
    background-color: #E56A54;
}

@media (max-width: 768px) {
    :root {
        font-size: 12px;
    }

    .weather-top {
        align-items: center;
        flex-wrap: wrap;
        align-items: space-between;
        /* flex-direction: column; */
        padding: 10px 20px;
        height: 50vh;
    }

    .weather-form {
        margin: auto;
        order: 3;
    }

    .temperature-list {
        justify-content: space-around;
        height: fit-content;
        width: 100vw;
        gap: 20px;
        padding: 20px 0px;
    }
}